@keyframes animation {
    0% {
        background-image: url(img/lana2.jpg);
    }

    50% {
        background-image: url(img/lana_del_rey.jpg);
    }

    100% {
        background-image: url(img/thumbbig-576931.webp);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;

}

main {
    background-image: url("/img/lana2.jpg");
    opacity: 0.5;
    background-size: cover;
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    animation-name: animation;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 2% 5% 3% 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.menu ul {
    border: 1px solid #fffefe;
    float: left;
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;

}

ul li {
    margin-right: 12px
}

ul li a {
    color: rgb(246, 242, 242)
}

li a:hover {
    background: #050505;
    color: #eeecec;
    box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #bdbbbb;
    text-shadow: 0px 0px 5px #fffbfb;
}

#titulo h2 {
    font-size: 1cm;
    margin-bottom: 1cm;
    font-weight: bold;
    font-size: 45px;
}

#titulo .text {
    font-weight: bold;
    font-size: 1em;

}

#titulo p {
    font-size: 1.2cm;
    margin-bottom: .3em;
    margin: 4% 4% 4% 4%;
}


main p {
    color: white;
    font-size: 14px;
    text-align: left;
    margin-inline-start: 10rem;


}

ul {
    color: #1c417c;
    list-style: none;
    font-size: 20px;
    display: flex;
    padding: 0;
    margin: 0;
}

.mid {
    font-family: monospace;
    color: #000000;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.playlist {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    align-items: center;
    /* justify-items: center; */
}

.cards {

    align-items: center;
    margin: 2% 2%;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 350px 350px 350px 350px;
    gap: 20px;
    transition: all 0.4s ease-out;
}

.cardUltraviolence h2 {
    text-align: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardUltraviolence p {
    margin-top: 20px;
    font-size: 11px;
    text-align: justify;
    margin: 4% 4% 4% 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardUltraviolence img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.cardUltraviolence {
    text-align: center;
    border-radius: 10px;
    background-color: darkgrey;
    width: 300px;
    height: 385px;
    animation-timing-function: ease-out;
}

.cardUltraviolence:hover {
    transform: scale(1.1);
}

.cardHoneyMoon {
    text-align: center;
    border-radius: 10px;
    background-color: darkgrey;
    width: 300px;
    height: 385px;
    animation-timing-function: ease-out;

}

.cardHoneyMoon img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.cardHoneyMoon p {
    margin-top: 20px;
    font-size: 12px;
    text-align: justify;
    margin: 4% 4% 4% 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardHoneyMoon h2 {
    text-align: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardHoneyMoon:hover {
    transform: scale(1.1);
}

.playlist:hover {
    transform: scale(1.1);
}

.content-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    display: flex;
    text-align: center;
    gap: 300px;
    margin-top: 45px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.content {
    background-color: #b0b0b0;
    padding: 10vh 15vw 10vh 15vw;
    font-size: 2.2rem;
    color: #000000;
}

.content .italics {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 1.5rem;
}

footer {
    color: #000000;
    font-size: 12px;
    background: rgb(107, 106, 106);
    padding: 20px;
    display: flex;
    justify-content: center;
    border-top: 3px solid rgb(110, 109, 109);


}